body.venuecheck-new,
body.venuecheck-update {

	#major-publishing-actions {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.clear {
			display: none;
		}
	}
}

body.venuecheck-new #venuecheck-venue-select {
	display: none;
}

body.venuecheck-update #venuecheck-conflicts-button {
	display: none;
}

#venuecheck-change-venue {
	display: inline-block;
}

#venuecheck-conflicts-report {
	display: none;
}

#venuecheck-conflicts-link {
	min-height: 0;
	text-decoration: none;
	vertical-align: middle;
}


.venuecheck-divider {
	color: #999;
}

.venuecheck-divider.hidden {
	display: none;
}

table.venuecheck {
	width: 100%;
}

.venuecheck-section tr,
#event_tribe_venue tbody tr,
.multi-venue-container tr {
	background-color: #f4fdef;
}

.venuecheck-section tr td {
	position: relative;
	padding: 0 10px;
}

.venuecheck-section a:not(.select2-choice) {
	color: #0073aa;
	font-size: 12px;
	text-decoration: underline;
	cursor: pointer;
}

.venuecheck-section a:not(.select2-choice):hover,
.venuecheck-section a:not(.select2-choice):active {
	color: #00a0d2;
}

.venuecheck-section a.venuecheck-report-link {
	text-decoration: none;
}

.venuecheck-section a.venuecheck-report-link span {
	text-decoration: underline;
}

.venuecheck-section a.venuecheck-report-link i.fa-external-link-alt {
	display: inline;
	padding-left: 5px;
	text-decoration: none;
}

.venuecheck-disabled {
	cursor: default;
	opacity: 0.5;
	pointer-events: none;
}

select[readonly] + .select2-container,
select.readonly + .select2-container {

	pointer-events: none;
	touch-action: none;

	.select2-selection {
		background: #eee;
		box-shadow: none;
	}

	.select2-selection__arrow,
	.select2-selection__clear {
		display: none;
	}
}

#event_tribe_venue .tribe-dropdown,
#event_tribe_venue .select2-container {
	width: 75% !important;
}

.multi-venue-container  .select2-container {
	width: 90% !important;
}

#venuecheck-venue-select .tribe-dropdown,
#venuecheck-venue-select .select2-container {
	font-size: 14px;
}

.tribe-dropdown .disabled {
	opacity: 1;
}

.tribe-dropdown .select2-results .select2-results__option {
	color: #222;
}

.tribe-dropdown .select2-results .select2-results__option[aria-disabled="true"] {
	color: #444;
	text-decoration: line-through;
	background-color: #bbb;
}

#venuecheck-report-links {
	display: block;
	margin-top: 15px;
	text-align: right;
}

#venuecheck-conflicts-report-container {
	margin: 0;
	padding: 15px;
	padding-top: 0;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 3px;
}

.venuecheck-conflicts-report-table {
	width: 100%;
	border-collapse: collapse;

	tr {
		background-color: transparent;
	}

	.venuecheck-conflicts-report-venue-title {
		border-top: 15px solid #fff;

		td {
			margin-top: 15px;
			color: #fff;
			font-weight: 400;
			background-color: #444;
		}
	}

	.venuecheck-conflicts-report-venue-heading td {
		background-color: #ddd;
		border-bottom: 1px solid #444;
	}

	thead {
		font-weight: 700;
	}

	tr:last-child {
		border-bottom: none;
	}

	tr:not(:first-child) {
		border-top: 1px solid #ccc;
	}

	tr td {
		padding: 3px 5px;
		vertical-align: top;
		background: #fff;
	}

	.venuecheck-conflicts-report-venue-date,
	.venuecheck-conflicts-report-venue-event {
		background: transparent;
	}

	.venuecheck-conflicts-report-venue-date {
		white-space: nowrap;
	}

	.venuecheck-conflicts-report-venue-date i.fa-sync-alt.fas {
		margin-right: 5px;
	}

	tr.accordion .venuecheck-conflicts-report-venue-date i.fa-sync-alt.fas {
		color: #0973aa;
		cursor: pointer;
	}

	span.recurrence {
		display: block;
		color: #3c434a;
		font-style: italic;
		text-decoration: none;

		p {
			margin: 0;
		}
	}
}

#venuecheck-conflicts-report-count div {
	display: grid;
	grid-column-gap: 1em;
	grid-row-gap: 0.5em;
	align-items: baseline;

	span:first-child {
		grid-row-start: 1;
	}

	a {
		grid-row-start: 1;
		text-align: right;
	}

	.count-exclusions {
		grid-column-end: 3;
		grid-column-start: 1;
	}
}

#venuecheck-show-exclusions {
	margin-top: 30px;
	font-size: 13px;
}

#venuecheck-exclusions-report-table {

	.venuecheck-conflicts-report-venue-title td {
		color: #3f454c;
		background-color: #bfc1c3;
	}
}

.venuecheck-notice {
	display: inline-block;
	margin: 0 10px 10px 0;
	padding: 10px 15px;
	font-size: 13px;
	line-height: 1.4;
	background: #fff;
	border: 1px solid #c3c4c7;
	border-left-width: 4px;
	box-shadow: 0 1px 1px #0000000a;

	&.notice-error {
		border-left-color: #d63638;
	}

	&.notice-info {
		border-left-color: #72aee6;
	}

	&.notice-warning {
		border-left-color: #dba617;
	}
}

#venuecheck-modified-publish {
	order: 3;
	box-sizing: border-box;
	width: 100%;
	margin: 10px 0 0 0;
}

#venuecheck-wait,
#venuecheck-modified,
#venuecheck-recurrence-warning,
#venuecheck-progress {
	margin: 0 0 10px 0;
}


#venuecheck-recurrence-warning-continue,
#venuecheck-cancel {
	margin-left: 10px;
}

.select2-results .select2-disabled .select2-result-label {
	color: #f00;
	background-color: #ddd;
	cursor: default;
}

.venuecheck-helper-text {
	padding: 0;
	color: #999;
	font-style: italic;
}


table#event_tribe_venue,
table#venuecheck-offsets,
table.multi-venue-container,
table.venuecheck-section {
	border-collapse: collapse;
}


#venuecheck-messages-container,
#event_tribe_venue .saved-linked-post,
.multi-venue-container .saved-linked-post {

	td:first-child {
		width: 10%;
		padding-top: 10px;
		vertical-align: top;
	}
}

#event_tribe_venue tr.saved-linked-post td:nth-child(2) {
	padding: 10px;
}

#venuecheck-offsets .venuecheck-section tr td.venuecheck-section-label,
.venuecheck-section tr td.venuecheck-section-label {
	padding: 2px 5px;
	color: #82d005;
	font-style: italic;
	vertical-align: top;
	background-color: #e3ffd3;
}

#venuecheck-offsets {
	margin-top: 20px;

	td {
		position: relative;
		margin: 0;
		padding: 10px;
		background-color: #f4fdef;
		border: 0;
	}

	td:first-child {
		width: 15%;
	}
}

#with-venuecheck {
	margin-left: 5px;
	padding: 2px 5px;
	color: #fff;
	font-weight: 400;
	font-size: 12px;
	font-style: italic;
	text-transform: none;
	vertical-align: text-bottom;
	background-color: #82d005;
	border-radius: 2px;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	border: 0;
	clip: rect(0, 0, 0, 0);
}

#venuecheck-conflicts-button {
	display: inline-block;
	margin: 10px 0;
	padding: 0 10px;
	color: #555;
	font-size: 13px;
	text-decoration: none;
}

#venuecheck-messages-container {
	margin: 0;
}

#venuecheck-report-container > td {
	background-color: #f4fdef;
}

#venuecheck-status {
	padding: 0;
}

.venuecheck-section .venuecheck-spacer td {
	background-color: transparent;
}

#venuecheck-report {
	padding: 0 15px 15px 15px;
}

.venuecheck-message {
	margin-left: 3px;
	color: #82d005;
	font-size: 14px;
	font-style: italic;
	line-height: 25px;
}

.fa-spinner.venuecheck-preload {
	font-size: 1px;
	opacity: 0;
}

.venuecheck-message .fa-spinner {
	width: 25px;
	height: 25px;
	margin-right: 5px;
	font-size: 20px;
	line-height: 25px;
	vertical-align: middle;
}

.progress-bar {
	width: 250px;
	height: 15px;
	margin-top: 3px;
	padding: 4px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.25) inset;
}

.progress-bar span {
	display: inline-block;
	height: 100%;
	border-radius: 3px;
	transition: width 0.4s ease-in-out;
}

.green span {
	background-color: #82d005;
}

.stripes span {
	background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.25) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 75%, transparent 75%, transparent); /* stylelint-disable-line max-line-length */
	background-size: 30px 30px;
	animation: animate-stripes 3s linear infinite;
}

@keyframes animate-stripes {

	0% {
		background-position: 0 0;
	}

	100% {
		background-position: -60px 0;
	}
}

#venuecheck-additional-venues {

	.acf-postbox {
		width: 75%;
		margin: 0;

		select,
		.wp-core-ui select:hover {
			color: #444;
		}

		select option {
			padding: 6px;
			font-size: 13px;
		}
	}

	.acf-fields > .acf-field {
		padding: 0 12px;
	}

	.acf-field .acf-label {
		margin: 0;
	}

	.select2-container.-acf .select2-selection { /* stylelint-disable-line selector-class-pattern */
		border-color: #aaa;
	}

	.select2-selection__rendered {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		font-size: 14px;
	}

}

#select2-acf-field_61dgdie0eee3e-results .select2-results__option,
#select2-acf-field_61dgdie0eee3e-results .select2-results__option--highlighted[aria-selected] {
	color: #222;
}

#select2-acf-field_61dgdie0eee3e-results .select2-results__option[aria-disabled="true"],
#venuecheck-additional-venues select option:disabled {
	color: #222;
	text-decoration: line-through;
	background-color: #bbb;
}

#venuecheck-venue-select {

	span.select2.select2-container.select2-container--default {

		&.select2-container--below.select2-container--open,
		&.select2-container--below {
			min-width: 300px;
		}
	}
}

#venuecheck-exclude-venue {
	width: 100%;
	border-collapse: collapse;

	tr:nth-child(2) td {
		padding: 10px;
	}

	td:first-child {
		width: 19%;
		vertical-align: top;
	}

	td p {
		margin-top: 10px;
	}

}

